<!-- -->
<launch>
  <arg name="bag_play_name" default="date"/>
  <arg name="bag_path" default="$(env PWD)"/>
  <arg name="record_topics" default="/model/lidar/output /tf /carla/ego_vehicle/lidar"/>
  
  <arg name="output_fusion_delay" default="20.0" />
  <arg name="record_delay" default="25.0" />
  <param name="/use_sim_time" value="true"/>
  
  <node pkg="sensory" type="lidar.py" name="subscribe_custom_point_cloud" output="screen">
  </node>
  
  <node pkg="sensory" type="rgb_camera.py" name="subscribe_rbg_front_image" output="screen">
  </node>
  
  <node pkg="sensory" type="output_fusion.py" name="output_fusion" output="screen" launch-prefix="bash -c 'sleep $(arg output_fusion_delay); $0 $@' " />
  
  <node pkg="rosbag" type="record" name="recorder" output="screen" args="-O $(arg bag_path)/$(arg bag_play_name).bag $(arg record_topics)" launch-prefix="bash -c 'sleep $(arg record_delay); $0 $@' " />
</launch>
