<!-- -->
<launch>
  <arg name="role_name" default="ego_vehicle"/>
  <arg name="node_start_delay" default="30.0" />
  <param name="/use_sim_time" value="true"/>
  <node pkg="sensory" type="lidar.py" name="subscribe_custom_point_cloud" output="screen">
  </node>
  
  <node pkg="sensory" type="rgb_camera.py" name="subscribe_rbg_front_image" output="screen">
  </node>
  
  <node pkg="sensory" type="output_fusion.py" name="output_fusion" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " />
</launch>
